.closebtn{
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.font-s-30{
    font-size: 30px;
}
.m-rigth-10{
    margin-right: 10px;
}

.btn-det-cont:hover{
    color: #2241cc;
    cursor: pointer;
}
.desc-input{
    display: flex;
    padding: 5px;
    border: 3px solid  red;
}

.desc-input-img{
    width: 12% ;
    border: 1px solid;
    margin-right: 5px !important;
}

.desc-input-img-details{
    border: 1px solid;
    width: 100%;
}