.closebtn{
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.m-rigth-10{
    margin-right: 10px;
}

.btn-det-cont:hover{
    color: #2241cc;
    cursor: pointer;
}
