<message-box></message-box> 
    <div class="mt-4 mb-5" >
        <div class="conteiner-crud">
            <div class="left-list">
                <table>
                    <tr>
                        <th>Código</th>
                        <th>Titulo</th>
                        <th>Nível</th>
                    </tr>
                    <tr *ngFor="let item of ListConteudoHeader ">
                        <td>
                            {{item.codigo}}
                        </td>
                        <td>
                            {{item.titulo}}
                        </td>
                        <td>
                            {{item.nivelConteudo}}
                        </td>
                    </tr>
                </table>
            </div>
        <div class="auto-ajuste">
            <div class="title-h2">
                <h2 class="text-center">Gereciador de Hístorias</h2>
            </div>
            <form  autocomplete="off"  [formGroup]="formConteudo" *ngIf="conteudoHeader || !AlterarConteudo " id="form-conteudo" class="pe-2 ps-2 border" >
               <div class="form-div-flex">
                <div class="form-div-group" *ngIf="!AlterarConteudo">
                    <label for="codigo" class="form-label">Codigo</label>
                    <input type="text"  class="field-form wd-200"  formControlName='codigo' required>
                </div>
                <div class="form-div-group">
                    <label for="tipo" class="form-label">Tipo do Conteudo</label>
                    <select  class="field-form wd-200" formControlName="nivelConteudo" #NivelDoTitulo>
                        <option *ngFor="let item of ListNivelTituloConteudo" [value]="item.valor" >{{item.nivel}}</option>
                    </select>
                </div>
                <div *ngIf="NivelDoTitulo.value > '1'">
                    <div class="form-div-group">
                        <label for="tipo" class="form-label">Conteudo Pai</label>
                        <input type="text"  (keyup)="GetConteudoPai($event)" class="field-form" formControlName="conteudoPai">
                    </div>
                    <div class="form-div-group">
                        <label for="">Conteudo Encontrado: </label>
                        <strong>{{ConteudoHeaderEncontrado?.titulo}}</strong>
                    </div>    
                </div>

                <div class="form-div-group">
                    <label for="Titulo" class="form-label">Titulo</label>
                    <input type="text"  class="field-form wd-800"  formControlName='titulo' required>
                </div>
                <div class="form-div-group">
                    <label for="Posicao" class="form-label">Posicao</label>
                    <input type="number" class="field-form wd-200" formControlName='posicao' required>
                </div>
               </div>
                <div class="rounded mb-3 -conteudo">
                <div formArrayName="conteudoDatalhes" class="detalhe-conteudo">
                    <div *ngFor="let detalhe of conteudoDatalhes.controls;let i=index">
                        <div [formGroupName]="i">
                            <div class="form-div-group" [id]="'id-control-'+i">
                                <div *ngIf="detalhe.value['texto'] != null">
                                    <label for="texto" class="form-label">Texto {{i+1}}</label>
                                    <textarea formControlName="texto" class="field-form text-conteudo wd-full " [id]="'texto'+i" (mouseup)="GetTextoEmFoco()"></textarea>
                                </div>
                                <div *ngIf="detalhe.value['youtube'] != null">
                                    <label for="youtube" class="form-label">Link Youtube:</label>
                                    <input formControlName="youtube" class="field-form wd-full" >
                                </div>
                                <div *ngIf="detalhe.value['imagem'] != null">
                                    <label for="imagem" class="form-label">Imagem</label>
                                    <input type="file" formControlName="imagem" name="imagem" class="field-form wd-full" [id]="i" accept = "image/png, image/jpeg" (change) ="TratarArquivoImagem($event,i)" click>
                                    <div id="'miniatura-img-'i" class = "desc-input border">
                                        <img [id]="'img-'+i" src="" class="desc-input-img"  >
                                        <div class="desc-input-img-details">
                                          
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                        <i class="bi bi-textarea-t btn-det-cont font-s-30 m-rigth-10" (click)="CriarElementoTexto()" title="Adicionar area de texto"></i>
                        <i class="bi bi-images     btn-det-cont font-s-30 m-rigth-10" (click)="CriarElementoImagem()" title="Adicionar imagem ao conteudo"></i>
                        <i class="bi bi-youtube    btn-det-cont font-s-30 m-rigth-10 color-red" (click)="CriarElementoYoutube()" title="Adicionar Id do Youtube" ></i>
                        <i class="bi bi-type-bold  btn-det-cont font-s-30"   (click)= "FormatarNegrito()" title="Transformar Texto em negrito"></i>
                        <i class="bi bi-link-45deg btn-det-cont font-s-30 m-rigth-10"></i>
                    </div>
                </div>
            </form>
        </div>
        <app-crud></app-crud>
    </div>
    
    </div>
    <app-loader></app-loader>
    <!--

<pre>
    {{formConteudo.value | json}}
</pre>
-->
  