<div class="btn-vertical">
    <button type="submit" class="button-anymate me-1" id="btn-novo">        Novo</button>
    <button type="submit" class="button-anymate me-1" id="btn-adicionar">   Adicionar   <i class="bi bi-patch-plus"></i>    </button>
    <button type="submit" class="button-anymate me-1" id="btn-alterar">     Alterar     <i class="bi bi-pencil-fill"></i>   </button>
    <button type="submit" class="button-anymate me-1" id="btn-excluir">     Excluir     <i class="bi bi-trash"></i>         </button>  
</div>
