<div class="btn-vertical">
    <button type="submit" class="button-anymate me-1">Novo</button>
    <button type="submit" class="button-anymate me-1">Adicionar <i class="bi bi-patch-plus"></i></button>
    <button type="submit" class="button-anymate me-1"> Alterar <i class="bi bi-pencil-fill"></i></button>
    <button type="submit" class="button-anymate me-1">Excluir <i class="bi bi-trash"></i></button> 
    <button class="button-anymate" routerLinkActive="router-link-active" >Voltar</button> 
</div>