.menu-nav-bar{
    display: flex;
    background-color: #9de4fa;
}
.drop-down{
    display: inline-block;
}
.drop-down-item{
    display: none;  
    position: absolute;
    box-shadow: rgb(211, 211, 211) 0px 0px 80px 4px;
}

.drop-down:hover .drop-down-item{
    display:block !important;
}

.menu-btn,.btn-dropdow{
    text-decoration: none;
    color: black;
    border: none;
}
.menu-btn{
    padding: 10px 20px 10px 20px;
}
.drop-down-item a{
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: black;
}



































