<h2 class="text-center">Temas de Ensino</h2>

<form action="" autocomplete="off">
    <div class="mb-3">
        <label for="codigo" class="form-label">código:</label>
        <input type="text" class="form-control" name="Codigo">
    </div>
    <div class="mb-3">
        <label for="tipoensino" class="form-label" >Tipo de Ensino:</label>
        <div class="form-group">
            <input type="radio" name="tipoensino" id="documentacao" class="me-1"><label for="documentacao" class="me-3">Documentacao</label>
            <input type="radio" name="tipoensino" id="curso"        class="me-1"><label for="curso" class="me-3">Curso</label>
            <input type="radio" name="tipoensino" id="outros"       class="me-1"><label for="outros"class="me-3">Outros</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="nome">
    </div>
</form>

