.container-menu{
    margin-right: 100px !important;
    margin-left: 100px !important;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    display: flex !important;
    flex-flow: wrap;
    justify-content: space-around;
}

.menu-btn{
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;  
    max-width: 150px;
    box-shadow: rgb(207,207,207) 0px 0px 25px 1px;
}
.btn-item{
    background-color: rgb(0, 0, 0);
}

.img-item{
    display: flex;
    justify-content: space-around;
}

.btn-item{
    display: block;
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    padding: 12px 5px  12px 5px;
    border-radius: 5px;
    color: black;
    background: rgb(3,237,255);
    background: linear-gradient(0deg, rgba(3,237,255,0.7791491596638656) -72%, rgba(165,202,255,0.9556197478991597) 100%);
}
