<div class="container-menu">
        <div class="menu-btn">
            <div class="img-item">
                <i class="bi bi-emoji-smile font-s-30"></i>
            </div>
            <div>
                <a class="btn-item" [routerLink]="['/Form-conteudo']" routerLinkActive="router-link-active">Criar história</a>
            </div>
        </div>
        <div class="menu-btn ">
            <h2>Corrigir História</h2>
        </div>
        <div class="menu-btn">
            <h2>Listar de Histórias</h2>
        </div>
        <div class="menu-btn">
            <h2>Excluir história</h2>
        </div>   
</div>

