.container-menu{
    margin-right: 100px !important;
    margin-left: 100px !important;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.menu{  
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    
    display: flex !important;
    flex-flow: wrap;
    justify-content: space-around;
}
.menu-btn{
    border: 2px solid;
    border-radius: 5px;
    background-color: #5555d7d9;
    width: 200px;
    height:200px;
    display: flex;
    align-items: center; 
    text-align: center; 
    cursor: pointer;  
}

.menu-btn:hover{
    background-color: #4949c5d9;
}
.menu-btn:active{
    background-color: #f6f6f6d9;
}

