<div class="conteiner-crud">
    <form action="" autocomplete="off">
        <div>
            <label for="tipo"class="form-label">tipo:</label>
            <input type="text" name="tipo" class="form-control">
        </div>
        <div>
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control">
        </div>
        <div>
            <label for="sobrenome" class="form-label">Sobrenome:</label>
            <input type="text" name="sobrenome" class="form-control">
        </div>
        <div>
            <label for="cpf" class="form-label">cpf:</label>
            <input type="text" name="cpf" class="form-control">
        </div>
        <div>
            <label for="rg" class="form-label">rg:</label>
            <input type="text" name="rg" class="form-control">
        </div>
        <div>
            <label for="cnpj" class="form-label">cnpj:</label>
            <input type="text" name="cnpj" class="form-control">
        </div>
        <div>
            <label for="email" class="form-label">email:</label>
            <input type="text" name="email" class="form-control">
        </div>

        <div>
            <label for="cnpj" class="form-label">cnpj:</label>
            <input type="text" name="cnpj" class="form-control">
        </div>
    </form>
    
</div>



<!--
cep
logradouro
complemento
bairro
localidade
uf
ibge
gia
ddd
siafi
numero
complemento
-->       

